*{
    margin: 0;
    padding: 0;
}
html body{
    width: 100%;
    height: 100vh;
}

/*Index completo con grid, usando flex dentro de las grillas. Agregue animaciones*/

#wrapper{
    display: grid;
    grid-template-areas: 
    "header"
    "bienvenidos"
    "principal"
    "muestras"
    "divisor"
    "formredes"
    "footer";
}
#nav{
    grid-area: header;
}
#bienvenidos{
    grid-area: bienvenidos;
}
#principal{
    grid-area: principal;
    margin-left: 5px;
}
#marcas{
    grid-area: marcas;
    border-style: groove;
    border-color: darkgreen;
    margin-left: 20px;
    visibility: none;
  
}
#muestras{
    grid-area: muestras;
    margin-top: 10px;
    margin-left: 5px;
}
#divisor{
    grid-area: divisor;
    margin-top: 15px;
}
#formredes{
    grid-area: formredes;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
}
footer{
    grid-area: footer;
    margin-top: 100px;
}
.navcontainer{
    display: flex;
    flex-direction: row;
    background-image: url(./img/headerimagen.png);
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.logo{
    width: 200px;
    height: auto;
    margin-left: 60px;
    flex-wrap: wrap;
}
.menu{
    display: flex;
    justify-content: space-between;
    margin: 8px;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.menuitems{
    font-size: 20px;
    margin-left: 6rem;
    margin-right: 6rem;
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Oswald', sans-serif;
    flex-wrap: wrap;
}
.bg-dark {
        background-color: rgb(0 0 0 / 8%)!important;
}
.welcome{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
.h2{
    display: flex;
    border-style: groove;
    border-color: darkgreen;
    background-image: linear-gradient(to bottom, darkgreen, rgb(168, 197, 168)) ; 
    color: white;
    text-align: center;
    justify-content: center;
    width: 30rem;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
}
.imgprincipal{
    display: flex;
    background-image: url(./img/imagenfotosvarias.png);
    border-style: groove;
    border-color: darkgreen;
    color: black;
    font-size: 20px;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
}
h1:hover{
font-size: 40px;
}
.marcas{
    visibility: hidden;
    visibility: none;
}
.imgmarcas{
    visibility: hidden;
    visibility: none;
}
.imgmarcas{
    visibility: hidden;
    visibility: none;
}
.imgmuestras{
    display: flex;
    border-color: darkgreen;
    border-style: groove;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.divisor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.formulario{
    display: flex;
    background-color: rgb(194, 191, 191);
    border-color: darkgreen;
    background-image: linear-gradient(to bottom, darkgreen, rgb(168, 197, 168)) ; 
    color: white;
    border-style: groove;
    font-family: 'Oswald', sans-serif;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    list-style: none;
    font-size: 20px;
    flex-wrap: wrap;
}
.formuredes{
    display: flex;
    font-family: 'Oswald', sans-serif;
    color: white;
    align-items: flex-end;
    list-style: none;
    font-size: 20px;
    flex-wrap: wrap;
}
#ig{
    margin-left: 20px;
}
#fb{
    margin-left: 20px;
}
#wp{
    margin-left: 20px;
}

.footer{
    display: flex;
    flex-direction: row;
    background-image: url(./img/headerimagen.png);
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.logofooter{
   height: 100px;
   width: auto;
}
.textfooter{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
}


/*html Formularios Grid y flex, animaciones*/


#wrapperform{
    display: grid;
    grid-template-areas: 
    "info"
    "intereses"
    "consulta";
    grid-template-columns: auto;
    width: 100%;
    height: 30vw;
}
#info{
grid-area: info;
}
#intereses{
grid-area: intereses;
}
#consulta{
grid-area: consulta;
}

.fieldset{
    display: flex;
    border-color: darkgreen;
    border-style: groove;
    justify-content: space-around;
    align-content: center;
    padding: 5px 8px 5px 8px;
    margin: 20px auto 20px auto;
    width: 50vw;
    height: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    background-image: linear-gradient(to bottom, darkgreen, rgb(168, 197, 168)) ; 
    color: white;
    flex-wrap: wrap;
}
.fieldsetint{
    display: flex;
    border-color: darkgreen;
    justify-content: space-between;
    align-content: center;
    padding: 5px 8px 5px 8px;
    margin: 8px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    background-image: linear-gradient(to bottom, darkgreen, rgb(168, 197, 168)) ; 
    color: white;
    flex-wrap: wrap;
}
.fieldsetconsult{
    display: flex;
    border-color: darkgreen;
    border-style: groove;
    background-color: rgb(184, 182, 182);
    flex-direction: column;
    padding: 10px;
    margin: 20px 40px 20px 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    background-image: linear-gradient(to bottom, darkgreen, rgb(168, 197, 168)) ; 
    color: white;
    font-size: 20px;
    flex-wrap: wrap;
}
@media screen and (min-width: 992px){
    #wrapper{
        display: grid;
        grid-template-areas: 
        "header header"
        "bienvenidos bienvenidos"
        "principal marcas"
        "muestras muestras"
        "divisor divisor"
        "formredes formredes"
        "footer footer";
        grid-template-columns: auto;
    }
    #marcas{
        grid-area: marcas;
        border-style: groove;
        border-color: darkgreen;
        margin-left: 20px;
        visibility: visible;
      
    }
    .marcas{
        display: flex;
        border-style: groove;
        border-color: darkgreen;
        margin: 10px;
        visibility: visible;
    }
    .imgmarcas{
        flex-wrap: wrap;
        width: 15vh;
        visibility: visible;
    }
    .pmarcas{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        text-align: center;
    }
    .imgmarcas{
        width: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        visibility: visible;
    }
}

#productos{
    display:flex;
    padding-top:6rem;
    padding-bottom:6rem;
    justify-content: space-around;
    flex-wrap: wrap;
}
.items{
    display:flex;
    flex-direction: column;
    padding:2rem;
    width: 300px;
    border-color: darkgreen;
    border-style: groove;
    margin: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    background-image: linear-gradient(to bottom, darkgreen, rgb(168, 197, 168)) ; 
    transition: 2s, 2s;
}
.items:hover{
width: 600px;
height: auto;
}
.btn-outline-success{
    color: rgb(3, 3, 3);
    border-color: rgb(3, 3, 3);
    background-color: darkgreen;
}
.pimgs{
    font-weight: bold;
    font-size: 15px;
    margin: auto;
}
