*{
    margin: 0;
    padding: 0;
}
html body{
    width: 100%;
    height: 100vh;
}

#wrapper{
    display: grid;
    grid-template-areas: 
    "header header"
    "bienvenidos bienvenidos"
    "principal marcas"
    "muestras muestras"
    "divisor divisor"
    "formredes formredes"
    "footer footer";
    grid-template-rows: 100px 150px 650px 200px 50px 80px 100px 40px;
    grid-template-columns: auto 300px;
    grid-row-gap: auto;
    grid-column-gap: 10px;
}
header{
    grid-area: header;
}
section#bienvenidos{
    grid-area: bienvenidos;
}
section#principal{
    grid-area: principal;
}
aside#marcas{
    grid-area: marcas;
    border-style: groove;
    border-color: rgb(68, 238, 238);
    margin-top: 15px;
}
section#muestras{
    grid-area: muestras;
    margin-top: 10px;
}
picture#divisor{
    grid-area: divisor;
    margin-top: 15px;
}
section#formredes{
    grid-area: formredes;
    margin-top: 60px;
}
footer{
    grid-area: footer;
    margin-top: 100px;
}
.navcontainer{
    display: flex;
    flex-direction: row;
    background-image: url(./img/headerimagen.png);
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.logo{
    width: 200px;
    height: auto;
    margin-left: 60px;
    flex-wrap: wrap;
}
.menu{
    display: flex;
    justify-content: space-between;
    margin: 8px;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.menuitems{
    font-size: 20px;
    margin-left: 6rem;
    margin-right: 6rem;
    list-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Oswald', sans-serif;
    flex-wrap: wrap;
}
.welcome{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
}
.h2{
    display: flex;
    border-style: groove;
    border-color: darkgreen;
    background-image: linear-gradient(to bottom, darkgreen, rgb(168, 197, 168)) ; 
    color: white;
    text-align: center;
    justify-content: center;
    width: 30rem;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-wrap: wrap;
}
.imgprincipal{
    display: flex;
    background-image: url(./img/imagenfotosvarias.png);
    border-style: groove;
    border-color: darkgreen;
    color: black;
    font-size: 20px;
    text-align: center;
    flex-wrap: wrap;
}
.h1{
    transition: all 2s;
}
h1:hover{
font-size: 40px;
}
.marcas{
    display: flex;
    border-style: groove;
    border-color: darkgreen;
    font-size: 20px;
    font-weight: bold;
    justify-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    visibility: visible;
}
.imgmarcas{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    visibility: visible;
}
.imgmuestras{
    display: flex;
    border-color: darkgreen;
    border-style: groove;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.divisor{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.formulario{
    display: flex;
    background-color: rgb(194, 191, 191);
    border-color: darkgreen;
    background-image: linear-gradient(to bottom, darkgreen, rgb(168, 197, 168)) ; 
    color: white;
    border-style: groove;
    font-family: 'Oswald', sans-serif;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 20px;
    flex-wrap: wrap;
}
.formuredes{
    display: flex;
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(to bottom, darkgreen, rgb(168, 197, 168)) ; 
    color: white;
    justify-content: space-around;
    align-items: flex-end;
    list-style: none;
    font-size: 20px;
    flex-wrap: wrap;
}
.footer{
    display: flex;
    flex-direction: row;
    background-image: url(./img/headerimagen.png);
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.logofooter{
   height: 100px;
   width: auto;
}
.textfooter{
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
}